{{ ansible_managed | comment(decoration="; ") }}

$TTL    604800
@       IN      SOA     {{ ansible_facts['hostname'] }}.{{ item.value['name'] }}. {{ item.value['email'] }}. (
                     {{ ansible_date_time.date | replace('-', '') }}00     ; Serial
                         604800     ; Refresh
                          86400     ; Retry
                        2419200     ; Expire
                         604800 )   ; Negative Cache TTL
;
@              IN      NS       {{ ansible_facts['hostname'] }}.{{ item.value['name'] }}.


{{ ansible_facts['hostname'] }}       IN      A    {{ ansible_default_ipv4.address }} 



{% for item in item.value['content'] %}
{% if item[0] == "COMMENT" %}
; {{ item[1] }}
{% else %}
{{ item[1] }}   IN {{ item[0] }} {{ item[2] }} ; {{ item[3] }}
{% endif %}
{% endfor %}

