{{ ansible_managed | comment(decoration="; ") }}

$TTL    604800
@       IN      SOA     {{ ansible_facts['hostname'] }}.{{ item.value['name'] }}. {{ item.value['email'] }}. (
                     {{ ansible_date_time.date | replace('-', '') }}00     ; Serial
                         604800     ; Refresh
                          86400     ; Retry
                        2419200     ; Expire
                         604800 )   ; Negative Cache TTL
;
@              IN      NS       {{ ansible_facts['hostname'] }}.{{ item.value['name'] }}.



{% for item in ansible_facts['all_ipv4_addresses'] %}
{{ ansible_facts['hostname'] }}       IN      A    {{ item }} 
{% endfor %}

{% for item in item.value['content'] %}
{{ item[1] }}   IN {{ item[0] }} {{ item[2] }} ; {{ item[3] }}
{% endfor %}

