{{ ansible_managed | comment(decoration="// ") }}

{% for key, value in named_zones.items() %}
zone "{{ value['name'] }}" IN {
    type {{ value['type'] }};
    file "{{ value['name'] }}.zone";
{% if value['type'] == 'primary' %}
    allow-transfer { {{ value['link'] | join("; ") }}; };
{% else %}
    masters { {{ value['link'] | join("; ") }}; };
{% endif %}
};
{% endfor %}
